body {
    margin: 0;
    background-color: #FFECD1;
}

.Navbar-header {
    background-color: #001524;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    gap: 5rem;
}

.Navbar-header li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.Navbar-header a {
    color: inherit;
    text-decoration: none;

}

.Navbar li.active {
    background-color: #555;
}

.Navbar li:hover {
    text-decoration: underline;
}

.Navbar {
    font-size: 2rem;
}

